/*!-----------------------------------------------------------------------------
   Master Stylesheet.

   Project:       Web Boilerplate
   Version:       2.0.2
   Contributors:  Sebastian Prein <basti@gridonic.ch>
   URL:           http://my-web-app.io
   -------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------
  The meta folder holds files which only have functions, mixins, variables and
  other definitions which do NOT compile to CSS.
  -------------------------------------------------------------------------- */
@import "styles/meta";


/* -----------------------------------------------------------------------------
   All styles from third party applications, frameworks and libraries.
   -------------------------------------------------------------------------- */
// @import "../../node_modules/normalize.scss/normalize.scss";


/* -----------------------------------------------------------------------------
   All styles which are used throughout the whole website get in here.
   -------------------------------------------------------------------------- */
@import "styles/shared/debug";
@import "styles/shared/generic";
@import "styles/shared/grid";
@import "styles/shared/typography";
@import "styles/shared/print";
